footer{
    
    color: rgb(111, 17, 148);
    width: 100%;
        
}
footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 20px;
    padding: 0px 0;
}

    
